/* Article Styling */
.article {
  width: 50%;
  margin: 0 auto 0 20%;
}


.article-details {

}

.head-image {

}

.text {
  margin-top: 60px;

  white-space: pre-wrap;
  line-height: 2.0;
  font-size: 1.3em;
}

/* Annotation Styling */
#controlBox {
  position: absolute;
  visibility: hidden;
}

.notesList {
  position: absolute;
  top: 0;
  height: 100%;
  width: 30%;
  margin-left: 50%;
}

.note {
  position: relative;
}


/* Collection Styling */




/* Collection Item Styling */